body{
    font-family: "Playfair Display", serif;
    font-size: larger;
    padding: 0;
    margin: 0;
    /* background-image: url("../img/1.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}


.header{
    margin-top: -7px;
    padding-top: 0;
    /* display: inline-block; */
    background-image: url("../img/1.jpg");
    width: 100%;
    height: 851px;
    padding-bottom: 5rem;
    background-repeat: no-repeat;
    

}
.left{
position:absolute;
color: white;
/* font-size: 120%; */
display: inline-block;
top: 20px;
left: 30px
}
.left img{
width: 50px;
/* filter: invert(100%); */
}
.mid{
display: block;
color: white;
/* font-size: 120%; */
padding-top: 12px;
width: 37%;
margin: 7px auto;

}

.navbar{
display: inline-block;
}

.navbar li{
display: inline-block;
color: white;
}

.navbar li a{
color: white;
text-decoration: none;
padding: 34px 15px;
}

.navbar li a:hover, .navbar li a.active{
color: white;
text-decoration: underline;
padding: 34px 15px;
}

.container{
    margin-top: 300px;
    margin-left: 40px;
}

.container #motto{
    font-family: "Playfair Display", serif;
    font-size: 500%;
    color: white;
    display: block;
    margin-left: 20px;
}

.container #pers{
    font-family: "Playfair Display", serif;
    color: white;
    display: block;
    text-align: right;
    width :40%;
    font-size: 200%;
}

.quote{
    margin: 174px;
    padding: 10px;
    border-bottom: solid 2px grey;
    border-top: solid 2px grey;
    font-size: 150%;
    text-align: center;
}

.mepic{
    background-image: url("../img/photographer.jpg");
    height: 658px;
    color: WHITE;
    font-family: "Playfair Display", serif;
    font-size: 500%;
    
}

#mepica{
    position: absolute;
    margin-top: 350px;
    margin-left: 362px;
}

.sgallery img{
    width: 300px;
}

footer{
    height: 91px;
    background-color: rgb(64, 11, 114);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    padding: 45px;

}