.artcle{
    box-shadow: 2px 2px 5px grey;
    padding: 50px;
    margin: 80px 0;
    border-radius: 15px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 80px; /* reduce margin for smaller screens */
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .container div img {
    margin: 10px auto;
    width: 300px;
  }
  
  .article {
    box-shadow: 2px 2px 5px grey;
    padding: 50px;
    margin: 80px 0;
    border-radius: 15px;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      margin: 10px; /* adjust margin for smaller screens */
    }
    
    .container div img {
      margin: 10px auto;
      width: 100%; /* set width to 100% for smaller screens */
      max-width: 300px; /* limit max width for larger screens */
    }
    
    .article {
      padding: 20px; /* reduce padding for smaller screens */
      margin: 50px 0; /* reduce margin for smaller screens */
    }
  }
  