body{
    font-size: large;
    margin: 0;
    padding: 0;
}
header{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#left{
    margin: 10px;
}

#left img{
    width: 100px;
}
#mid{
    margin: auto;
    
}
.navbar{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}

.navbar li{
    padding: 10px;
}
.navbar li a{
    text-decoration: none;
    
}

.navbar li .active{
    text-decoration: underline;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
}

footer a{
    color: white;
    padding: 5px;
    text-decoration: none;
}

