.mission{

    margin: 40vh 100px;
}

.history{
    margin: 100px 100px;
}

.achievements{
    margin: 100px 100px;
}

.awards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.awards div{
    margin: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.awards div img{
    width: 500px;
}

.awards div p{
    width: 500px;
    padding: 20px;
}