body{
    background-color: lightgrey;
}

.hiring{
    display: grid;
    /* grid-gap: 100px; */  
}

.post{
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    margin: 30px 30px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.hiring .post button{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 105, 30);
    color:white;
    border-radius: 5px;
}

.hiring .post button:hover{
    background-color: rgb(204, 92, 35);
    color:white
}

.recruitment{
    position: relative;
    height: 50vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: aliceblue;
    margin-bottom: 50px;
    
}

.recruitment h1{
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
}
