
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(48, 45, 45);
}

header .logo{
    margin: 10px 20px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

header .logo img{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar{
    height: 100px;
    margin: auto;
}

header .navbar ul li{
    list-style: none;
}

header .navbar ul li a{
    text-decoration: none;
    padding: 10px 10px;
    color: white;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

header .navbar ul li .active{
    text-decoration: underline;
}

header .appointment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: white;

}
header .appointment a{
    color: white;
    background-color: brown;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

header .appointment .active{
    text-decoration: underline;
}

footer{
    font-size: large;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

footer div{
    width: 300px;
    display: flex;
    flex-direction: column;
}

footer div a{
    padding: 10px
}