
header #right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    color: white;

}
header  #right a{
    color: white;
    background-color: brown;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

header #right .active{
    text-decoration: underline;
} 


body{
    font-size: large;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(48, 45, 45);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#left{
    margin: 20px 50px;
}

#left img{
    width: 100px;
}
#mid{
    margin: auto;
    
}
.navbar{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.navbar li{display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li a{
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

.navbar li .active{
    text-decoration: underline;
}

@media (max-width:600px){
    header{
      position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header #mid .navbar{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}


footer{
    font-size: large;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

footer div{
    width: 300px;
    display: flex;
    flex-direction: column;
}

footer div a{
    padding: 10px
}


@media (max-width: 350px){
    footer div{
        width: 200px;
    }
}