.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 30px;
    border: 2px solid black;
}

.services div div img{
    width: 500px;
}

.services div div p{
    width: 500px;
    padding: 20px;
}

.services div .contain{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services div{
    margin: 30px 0px;
}

.services .diagnostics div img{
    width: 250px;
    padding: 10px;
}

@media (max-width:500px){
    img{
        width: 250px;
    }

    .services div div img{
        width: 250px;
    }

    .services div div p{
        width: 300px;
        padding: 5px;
    }
    .services div .contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1,h2{
        text-align: center;
    }
}

@media (max-width:340px){
    img{
        width: 150px;
    }

    .services div div img{
        width: 150px;
    }

    .services div div p{
        width: 200px;
        padding: 5px;
    }
    .services div .contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1,h2{
        text-align: center;
    }

    .services .diagnostics div img{
        width: 150px;
        padding: 10px;
    }
}  


