.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 30px;
}

.services div div img{
    width: 500px;
}

.services div div p{
    width: 500px;
    padding: 20px;
}

.services div .contain{
    display: flex;
}

.services div{
    margin: 30px 0px;
}

.services .diagnostics div img{
    width: 250px;
    padding: 10px;
}